/* Configurações iniciais e variaveis */

:root {
  --cor-de-fundo: #f5f5f5;
  --cor-do-sobre: #eaf2fd;
  --cor-de-link: #000;
  --fonte-titulo: 1rem;
  --fonte-paragrafo: 0.875rem;
  --fonte-subtitulo: 1.375rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  font-size: var(--fonte-paragrafo);
  line-height: 1;
  width: 100vw;
  height: 100vh;
}

ol,
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/* Sessão Menu */

.menu {
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

nav ul li {
  display: none;
}

nav ul li:last-child {
  display: block;
}

/* Sessão Title */

.title {
  padding: 1rem;
}

.title__profile {
  padding: 1rem;
  width: 6.125rem;
}

.title__bio {
  font-size: var(--fonte-subtitulo);
  line-height: 24px;
}

.title__subsection {
  font-size: var(--fonte-paragrafo);
  font-weight: 400;
  padding: 1rem 0;
}

.title__network {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  font-weight: 600;
}

/* Sessão About */

.about {
  background-color: var(--cor-do-sobre);
  padding: 1rem;
}

.about__title {
  font-size: var(--fonte-subtitulo);
}

.about__paragraph {
  padding: 1rem 0;
}

/* Sessão Skills */

.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.skills__title {
  font-size: var(--fonte-subtitulo);
  padding-bottom: 2rem;
}

.skills__line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills__box {
  height: 118px;
  width: 40%;
  background-color: #fff;
}

.skills__box ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2.375rem 1rem 1rem 1rem;
  font-weight: 700;
}

/* Sessão Hobbies */

.hobbies {
  padding: 1rem;
}

.hobbies__title {
  padding-bottom: 2rem;
  text-align: center;
}

.hobbies__line {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.hobbies__box {
  height: 118px;
  width: 40%;
  background-color: #fff;
}

.hobbies__box ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2.375rem 1rem 1rem 1rem;
  font-weight: 700;
}

/* Experiência Acadêmica */

.academic {
  background-color: var(--cor-do-sobre);
  padding: 2rem;
}

.academic__title {
  font-size: var(--fonte-subtitulo);
  padding-bottom: 2rem;
  text-align: center;
}

h4 {
  font-size: 1rem;
  padding: 8px 0;
}

.academic__courses__item__subtitle {
  font-size: var(--fonte-paragrafo);
  font-weight: 500;
}

/* experiência */

.experience {
  padding: 2rem;
}

.experience__section__title {
  text-align: center;
  font-size: var(--fonte-subtitulo);
  font-weight: 700;
}

.experience__img {
  padding: 1rem 0;
}

.experience__text {
  padding: 8px 0;
  font-weight: 500;
  font-size: var(--fonte-paragrafo);
}

.experience__description {
  width: 100%;
  text-align: center;
}

.experience__button__repo,
.experience__button__demo {
  font-size: var(--fonte-paragrafo);
  font-weight: 600;
  padding: 12px 1rem;
  width: 40%;
  border-radius: 4px;
}

.experience__button__repo {
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
}

.experience__button__demo {
  background-color: #2a7ae4;
  border: 1px solid #2a7ae4;
  color: var(--cor-de-fundo);
}

/*Contato*/

.formcontato {
  background-color: var(--cor-do-sobre);
}

.formcontato__contacto {
  padding: 2rem;
}

.formcontato__title {
  font-size: var(--fonte-subtitulo);
  padding-bottom: 8px;
}

.formcontato__subtext {
  font-size: 1rem;
  font-weight: 500;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.formcontato__input {
  border: none;
  border-radius: 4px;
  height: 3.5rem;
  padding-left: 0.75rem;
}

.formcontato__textarea {
  font-family: "Raleway";
  padding: 1rem 0 0 0.75rem;
  border: none;
  border-radius: 4px;
}

.formcontato__botao {
  font-size: var(--fonte-paragrafo);
  font-weight: 600;
  padding: 12px 1rem;
  width: 100%;
  background-color: #2a7ae4;
  border: 1px solid #2a7ae4;
  color: var(--cor-de-fundo);
  border-radius: 4px;
}

/*footer*/

.footer__rodape {
  text-align: center;
  font-size: 1rem;
  padding: 32px 63px;
}
